{% extends 'base.html' %}

{% block top_content %}
    <div class="gcb-cols">
      <div class="gcb-col-11 gcb-aside">
        If you have an AMI account, <button class="btn " onclick="javascript:window.location = '{{ loginUrl }}'">Login</button> <br/>

        If you don't, <button class="btn " onclick="javascript:window.open('http://dev.africanmanagers.org/user/register','_blank')">Register for AMI</button>

<!--<br/>-->
<!--<br/>-->
        <!--<button class="btn " onclick="javascript:window.location = '{{ logoutUrl }}'">Logout</button>-->


      </div>
    </div>
{% endblock %}