<div class="summary" style="font-size: 16px; margin-bottom: 3em">

    <h1 class="product-headers title">
        Launchpad | <span style="font-weight: 100">Success@Work in 21st Century Africa</span>
    </h1>

    <div style="float: right; margin-left: 1em; text-align: center">

        <iframe width="560" height="315" src="{{course_info.course.main_video.url}}" frameborder="0" allowfullscreen style="display: block"></iframe>

        <a class="gcb-button gcb-button-large" href="register" role="button" style="margin-top: 1em">
          Register Now
        </a>

        <!--<iframe height="260" allowTransparency="true" frameborder="0" scrolling="no" style="margin-top: 1em;width:100%;border:none"  src="http://africanmanagers.wufoo.com/embed/z7x4m1/"><a href="http://africanmanagers.wufoo.com/forms/z7x4m1/">Fill out my Wufoo form!</a></iframe>-->

    </div>

    <div>
        {{course_info.course.blurb | safe}}
    </div>

</div>

<div class="cols" style="
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  clear: both
">

    {{course_info.course.details | safe}}

</div>