<div class="summary" style="font-size: 16px; margin-bottom: 5em">

    <h1 class="product-headers title">
        Launchpad | <span style="font-weight: 100">Success at Work in 21st Century Africa</span>
    </h1>

    <div style="float: right; margin-left: 1em; text-align: center">

        <iframe width="560" height="315" src="{{course_info.course.main_video.url}}" frameborder="0" allowfullscreen style="display: block"></iframe>

        <a class="gcb-button gcb-button-large" href="register" role="button">
          Register Now
        </a>

    </div>

    {{course_info.course.blurb | safe}}

</div>

<div class="cols" style="
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
">

    {{course_info.course.details | safe}}

</div>