/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

form.wufoo {

    border: 1px solid black;
    font-family: Calibri, Candara, Arial, Helvetica, sans-serif;

}

#form1, #form2 {

    padding: 1em;

}